Source: cfortran
Section: devel
Priority: optional
Maintainer: Kevin B. McCarty <kmccarty@debian.org>
Build-Depends: debhelper (>= 5.0.0)
Standards-Version: 3.8.0

Package: cfortran
Architecture: all
Recommends: gcc | c-compiler, gfortran | fortran-compiler
Conflicts: libcfitsio-dev (<< 2.440-1)
Description: Header file permitting Fortran routines to be called in C/C++
 cfortran.h is an easy-to-use powerful bridge between C and FORTRAN.
 It provides a completely transparent, machine independent interface between
 C and FORTRAN routines (= subroutines and/or functions) and global data,
 i.e. structures and COMMON blocks.
